:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;

  color-scheme: light dark;
  color: #242424;
  background-color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
}

.nav-bar {
  height: 90px;
  background-color: #21222A;
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  align-items: center;
}

.logo-container {
  display: flex;
  align-items: center;
  margin-right: auto;
  margin-left: 20px;
}

.react-logo-1 {
  width: 29px;
  height: 29px;
}

.logo-title {
  margin-left: 10px;
  color: #61DAFB;
}

.project-name {
  color: white;
  margin-right: 20px;
}

.main-section {
  color: white;
  margin-top: 90px;
  background-color: #282D35;
  display: flex;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}